body,h1,h2,h3,ul{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
header{
    background-color: black;
    color: azure;
    text-align: center;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
footer{
    text-align: center;
    padding: 1rem;
    background-color: rgba(22,25,26,1);
    color: rgba(252,252,252,1);
}
.img{
    max-width: 500px;
    height: auto;
}
.affil{
    text-align: center;
    flex: 1;
    justify-content: center;

}
nav{
    background-color: bisque;
}
nav a{
     margin: 0 5px;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
   
}
.menu li{
    margin: 1rem;
    position: relative;
    word-spacing: 1px;
}
.menu a{
    color: rgb(112, 49, 49);
    text-decoration: none;
    transition: 0.3s;
}
.menu a:hover{
    color: blueviolet;
}
.department{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(49, 140, 110);
    border: 1px solid white;
    z-index: 1;
}
.menu li:hover .department {
    display: block;
}
.social-links a{
    color: cadetblue;
}
a:hover{
    color: blue;
    text-decoration: none;
    transition: 0.3s;
}
