body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 1px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(201, 248, 248);
    flex-direction: column;
}
header{
    color: brown;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: bisque;
}
footer{
    color: blue;
    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: center;
    background-color: rgb(156, 152, 152);
    position: absolute;bottom: 10px;
    position: fixed;
}
main{
    align-items: center;
    text-align: center;
    padding: 1rem;
    justify-content: center;
    text-align: center;
    color: black;
}
main:hover{
    color: rgb(133, 49, 135);
}
button{
    color: black;
    background-color: rgb(3, 73, 3);
}
button:hover{
    color: blue;
    background-color: beige;
}